<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224725711131-lko0443mhl0mlf0adcc2b4kgohi68ksg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224725711131-lko0443mhl0mlf0adcc2b4kgohi68ksg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>224725711131-8v96997jvh94o44er0edd92f9lhb03bb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBiI5Asiz6WxvcZy5ZVIw3sSe-EPM15ObI</string>
	<key>GCM_SENDER_ID</key>
	<string>224725711131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adsMobileApp</string>
	<key>PROJECT_ID</key>
	<string>ads-1eb2e</string>
	<key>STORAGE_BUCKET</key>
	<string>ads-1eb2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224725711131:ios:8c998c99da5aca15e3fbbe</string>
</dict>
</plist>